:root {
    --text-color-primary: #fff;
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'),
    url('../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, select,
figure, figcaption, picture {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

header, footer, section, nav, aside {
    display: block;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

textarea {
    resize: none;
    overflow: auto;
}

address {
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat-ExtraBoldItalic', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--text-color-primary);
    position: relative;
    background: url("../images/bg.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    -webkit-transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    -o-transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
}

body > img {
    display: none;
}

a {
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
}

select, input, textarea {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    line-height: 1;
}

section, footer {
    text-align: center;
    overflow: hidden;
}

button,
button:active,
button:focus {
    outline: none;
    cursor: pointer;
}

img {
    height: auto;
}

.container {
    padding: 0 38.6vh 0 25.46vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    position: relative;
}

.main {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header {
    padding: 0 13.3vh;
    margin: 9.25vh auto 1.29vh;
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo__img {
    width: 13.24vh;
}

.title-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
}
.title-block__title{
    font-size: 11.1vh;
    color: rgba(249, 2, 19, 1);
}
.title-block__subtitle{
    font-family: 'Montserrat-MediumItalic', sans-serif;
    font-size: 3.45vh;
}
.cta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cta__logo-title__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aviator-logo {
    width: 16.2vh;
    margin-bottom: 7.87vh;
}
.cta__bonus {
    width: 36.66vh;
    margin-bottom: 10.18vh;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: width 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: width 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out, width 1s ease-in-out;
    transition: transform 1s ease-in-out, width 1s ease-in-out;
    transition: transform 1s ease-in-out, width 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.cta__btn {
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 8.6vh;
    background: rgba(249, 2, 19, 1);
    color: var(--text-color-primary);
    text-transform: uppercase;
    border-radius: 2vh;
    padding: 0 5.09vh;
    font-size: 4.3vh;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: line-height 1s ease-in-out, padding 1s ease-in-out, font-size 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: line-height 1s ease-in-out, padding 1s ease-in-out, font-size 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out, line-height 1s ease-in-out, padding 1s ease-in-out, font-size 1s ease-in-out;
    transition: transform 1s ease-in-out, line-height 1s ease-in-out, padding 1s ease-in-out, font-size 1s ease-in-out;
    transition: transform 1s ease-in-out, line-height 1s ease-in-out, padding 1s ease-in-out, font-size 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.coin1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 71.29vh;
    -webkit-transition: left 1s ease-in-out, width 1s ease-in-out;
    -o-transition: left 1s ease-in-out, width 1s ease-in-out;
    transition: left 1s ease-in-out, width 1s ease-in-out;
}

.coin2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37vh;
    -webkit-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.coin3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 42.7vh;
    -webkit-transition: right 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: right 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.coin4 {
    position: absolute;
    left: 68.3vh;
    bottom: 0;
    width: 41.75vh;
    -webkit-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.coin5 {
    position: absolute;
    right: 22.87vh;
    bottom: 0;
    width: 27.31vh;
    -webkit-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.hover {
    background-size: 103% 103%;
    background-position: center;
}

.hover .cta__bonus{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
.hover .cta__btn {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
    box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
}
.hover-mob .cta__btn {
    line-height: 13.94vw;
    padding: 0 9.2vw;
    font-size: 7vw;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
    box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
}

.hover-mob .cta__bonus{
    width: 64.1vw;
}

.hover .coin1 {
    left: -14vh;
    width: 90.29vh;
}

.hover .coin2 {
    right: -6vh;
    bottom: -3vh;
    width: 41vh;
}

.hover .coin3 {
    right: -9vh;
    top: -5vh;
    width: 45.7vh;
}

.hover .coin4 {
    left: 73.3vh;
    bottom: -4vh;
    width: 44.75vh;
}

.hover .coin5 {
    right: 23.87vh;
    bottom: -2vh;
    width: 30.31vh;
}

.title-block__mob,
.coin-mob {
    display: none;
}

.d-none {
    display: none !important;
}

@media only screen and (orientation: landscape) and (max-width: 167vh) {
    .container {
        padding: 0 22vh 0 11vh;
    }
    .coin1 {
        width: 57.29vh;
    }
    .coin2 {
        width: 27vh;
    }
    .coin3 {
        width: 33.7vh;
    }
    .coin4 {
        width: 30.75vh;
    }
    .coin5 {
        width: 24.31vh;
    }
}

@media only screen and (orientation: landscape) and (max-width: 135vh) {
    .container {
        padding: 0 16vh 0 6vh;
    }
    .header {
        padding: 0 8vh;
    }
    .title-block__subtitle {
        font-size: 2.45vh;
    }
    .title-block__title {
        font-size: 8.1vh;
    }

    .cta__btn {
        line-height: 7.6vh;
        font-size: 3vh;
    }
    .cta__bonus {
        width: 29.66vh;
    }
    .aviator-logo {
        width: 14.2vh;
        margin-bottom: 7.87vh;
    }
    .coin1 {
        width: 53.29vh;
    }
    .coin3 {
        width: 29.7vh;
    }
    .coin2 {
        width: 22vh;
    }
    .coin4 {
        width: 27.75vh;
        left: 53vh;
    }
    .coin5 {
        width: 19.31vh;
    }
}

@media only screen and (orientation: portrait) {
    .title-block,
    .coin-desc {
        display: none;
    }

    .coin-mob,
    .title-block__mob {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    body {
        background: url("../images/bg-mob.jpg") no-repeat;
        background-size: cover;
    }

    .header {
        padding: 0 6.1vw;
        margin: 5.8vw auto 14.1vw;
    }

    .logo__img {
        width: 27.5vw;
    }

    .container {
        padding: 0 15.5vw 0 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .cta {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .aviator-logo {
        width: 30vw;
        margin-bottom: 12.2vw;
    }

    .cta__bonus {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 51.38vw;
        margin: 8.05vw 0 0;
    }

    .cta__btn {
        line-height: 11.94vw;
        border-radius: 2vw;
        padding: 0 7.2vw;
        font-size: 6vw;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .title-block__title {
        font-size: 12vw;
    }
    .title-block__subtitle {
        font-size: 3.7vw;
        margin-bottom: 7.77vw;
    }

    .coin1-mob {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 44.4vw;
    }

    .coin2-mob {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 56.9vw;
    }

    .coin3-mob {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 55vw;
    }

    .coin4-mob {
        position: absolute;
        right: 0;
        top: 0;
        width: 38.3vw;
    }
}

@media only screen and (orientation: portrait) and (min-height: 200vw) {
    .header {
        margin-bottom: 48vw;
    }
}

@media only screen and (orientation: portrait) and (min-width: 766px) {
    .aviator-logo {
        width: 24vw;
        margin-bottom: 7.2vw;
    }
    .cta__btn {
        line-height: 9.94vw;
        padding: 0 5.2vw;
        font-size: 4vw;
    }
    .cta__bonus {
        width: 35.38vw;
    }
    .title-block__subtitle {
        font-size: 2.5vw;
        margin-bottom: 7vw;
    }
    .title-block__title {
        font-size: 8vw;
    }
    .coin1-mob {
        width: 33.4vw;
    }
    .coin2-mob {
        right: 10vw;
        width: 36vw;
    }
    .coin3-mob {
        width: 39vw;
    }
    .coin4-mob {
        width: 28.3vw;
    }
}